*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
    font-family:cursive;
    color: rgb(230, 49, 79);
    background-color: rgb(237, 172, 214);
}
.flex{
    display: flex;
}

ul.nav{
    background-color: rgb(228, 79, 128);
    height: 50px;
}
ul.nav > li{
    list-style-type: none;
    
}
ul.nav > li >a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    padding: 1rem;
    display: inline-block;
   
}
.main{
    margin: 0 auto;
}
h2{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.td{
    width: 80%;
    padding: .5rem;
    border: 3px solid rgb(227, 214, 216);
    margin: 2rem;
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 2rem;
    position: relative;
    cursor: pointer;
}

ul>li:last-child{
    background-color: rgb(229, 30, 113);
}
h3{
    display: none;
}
a{
    color: rgb(181, 29, 140);
}